<!DOCTYPE html>
<html>
  <head>
    <title>FindJob</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head> 
  <body>

    <%- include("partials/header.ejs")%>

    <main>
      <form method="post">
        <h3>Filters</h3>
        <input type="checkbox" name="specialization" value="driver">Driver<br>
        <input type="checkbox" name="specialization" value="programmer">Programmer<br>
        <input type="checkbox" name="specialization" value="doctor">Doctor<br>
        <input type="checkbox" name="specialization" value="teacher">Teacher<br><br>
        Minimal salary:<br>
        <input id="min-salary" type="range" name='minimum' value=300 min='300' max='1500'><br>
        <span id="min-salary-value"></span><br><br>
        <input type="submit" value="Send">
      </form>
      <div class="cards">
        <% jobs.forEach(job => {%>
          <a href="/<%= job.id %>">
            <div class='job-card'>

              <div class="job-header">
                <div class="job-main-info">
                  <h3><%= job.name %></h3>
                  <p><%= job.company.name %></p>
                </div>
                <p><%= job.createdAt.toDateString() %></p>
              </div>
  
              <div class="job-footer">
                <h4><%= job.specialization %></h3>
                <h4><%= job.salary %>$</h3>
              </div>
              
            </div>
          </a>
        <% }); %>
      </div>
      
    </main>

    <%- include("partials/footer.ejs")%>

  </body>
  <script src="/javascripts/range.js"></script>
</html>
