<!DOCTYPE html>
<html>
  <head>
    <title>FindJob</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head> 
  <body>

    <%- include("partials/header.ejs")%>

    <main>
      <div class="cards">
        <% jobs.forEach(job => {%>
          <a href="/<%= job.id %>">
            <div class='job-card'>

              <div class="job-header">
                <div class="job-main-info">
                  <h3><%= job.name %></h3>
                  <p><%= job.company.name %></p>
                </div>
                <p><%= job.createdAt.toDateString() %></p>
              </div>
  
              <div class="job-footer">
                <h4><%= job.specialization %></h3>
                <h4><%= job.salary %>$</h3>
              </div>
              
            </div>
          </a>
        <% }); %>
      </div>
      
    </main>

    <%- include("partials/footer.ejs")%>

  </body>
</html>
