<!DOCTYPE html>
<html>
  <head>
    <title>FindJob</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head> 
  <body>

    <%- include("partials/header.ejs")%>

    <main>
      <br>
      <div class="job-info">
            <h1>
                <%= job.name %>
            </h1>
            <h2>
                <%= job.company.name %>
            </h2>
            <div class="main-info">
                    <div class="resp">
                        <h3>Requirements:</h3>
                        <p><%= job.requirments %></p>
                        <h3>Responsibilities:</h3>
                        <p><%= job.responsibilities %></p>
                    </div>

                    <div class="offer">
                        <h3>We offer:</h3>
                        <p><%= job.offers %></p>
                        <h3>Salary:</h3>
                        <p><%= job.salary %>$</p>   
                    </div>
            </div>
            <h2>
                Our contacts:
            </h2>
            <p>
                <%= job.company.phone %>
            </p>
            <p>
                <%= job.company.email %>
            </p>
      </div>
      <br>
    </main>

    <%- include("partials/footer.ejs")%>

  </body>
</html>
