<!DOCTYPE html>
<html>
  <head>
    <title>FindJob</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/profile.css' />
  </head> 
  <body>

    <%- include("partials/header.ejs")%>

    <main>
        <div class="company-info">
            <h1><%= company.name %></h1>  
            <% if(company?.description) {%>
                <h2>About us:</h2>
                <p><%= company.description %></p>
            <% }%>
            <h3>Contacts:</h3>
            <p><%= company.phone %></p>
            <p><%= company.email %></p>
        </div>

        <div class="cards">
            <% jobs.forEach(job => {%>
            <form class="hidden" id="<%= job.id %>" method="post" action="/profile/<%= job.id %>"></form>
            <a href="/<%= job.id %>">
                <div class='job-card'>
                    
                    <div class="job-header">
                        <div class="job-main-info">
                        <h3><%= job.name %></h3>
                        <p><%= company.name %></p>
                        </div>
                        <p><%= job.createdAt.toDateString() %></p>
                    </div>
        
                    <div class="job-footer">
                        <h4><%= job.specialization %></h3>
                        <h4><%= job.salary %>$</h3>
                    </div>
                    <button type="submit" form="<%= job.id %>">Delete</button>
                </div>
            </a>
            <% }); %>
        </div>
        <form method="post" class="spec-form" action="/profile">
            <h3>Create Vacancy:</h3>
            Name:<br>
            <input type="text" name="name" required><br>
            Requirements:<br>
            <input type="text" name="requirments" required><br>
            Responsibilities:<br>
            <input type="text" name="responsibilities" required><br>
            Offers:<br>
            <input type="text" name="offers" required><br>
            Specialization:<br>
            <input type="text" name="specialization" required><br>
            Salary:<br>
            <input type="number" name="salary" required>$<br>
            <input type="submit" value="Send">
          </form>
    </main>

    <%- include("partials/footer.ejs")%>

  </body>
</html>
